In [12]:
# Dependecies and Setup 
import os
import csv 
import pandas as pd 
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np

# File to Load 
user_data_csv= "user_data.csv"

# Store into Pandas DataFrames
df = pd.read_csv(user_data_csv)

In [14]:
df.head()

,userId,daysOld,sport,level,classOf,state,school,schoolCount,club,clubCount,...,fanUpOnSuggestedUsers,myProfileViewed,rankingsViewed,postLikes,notificationsReceived,total_invites,daysSinceActive,daysActiveLast30,ActiveLast7,Unnamed: 29
0,v8FXVdBmWTMKygrfh0K24WHm0403,818,Baseball,High School,2024,TX,Pine Tree High School,6.0,Phenom Baseball,5.0,...,11,209,453,1373,2691,3,0,23,1,NaN
1,o16OVYwvfgYiDDzcSsQYDI8ua6d2,734,Baseball,High School,2025,GA,Savannah Christian Preparatory School,2.0,Canes Simpson,3.0,...,1,17,7,62,241,0,97,0,0,NaN
2,wLT1TgISsyeJcRocy682tp3SFD92,695,Baseball,High School,2023,GA,Dutchtown High School,1.0,NaN,NaN,...,3,127,476,1448,2360,0,171,0,0,NaN
3,AaOw4PLV3ZYp3AOVwODmqs1F6zW2,695,Baseball,High School,2023,MI,Rochester High School,10.0,South Oakland A's,18.0,...,0,21,31,49,338,0,4,5,1,NaN
4,7QqiKKMwZqe7JXhJb6NXCsui5au1,695,Baseball,High School,2025,IA,Clinton High School,5.0,NaN,NaN,...,10,262,69,42,776,2,0,18,1,NaN

In [17]:
user_count= df["userId"].nunique()
user_count

31212